go 1.25.0

use (
	./gateway
	./infra/failover
	./loadtest
	./pkg/health
	./pkg/iban
	./pkg/outbox
	./pkg/pgha
	./pkg/tracing
	./proto/gen/go
	./services/accounts-svc
	./services/auth-svc
	./services/fraud-svc
	./services/ledger-svc
	./services/notifications-svc
	./services/transfers-svc
)
